<nav class="flex flex-col md:flex-row w-full lg:w-2/3 2xl:w-1/2 h-fit">
    <h1 class="flex h-fit w-full md:w-fit justify-center text-4xl lg:justify-start">
        <a class="text-gray-400 mt-2 sm:landscape:ml-4 lg:ml-0" href="/">{{ config.title }}</a>
    </h1>

    {% if config.extra.purity_tagline %}
        <span
            class="text-gray-400 text-sm w-full flex justify-center md:justify-end md:pt-8 mr-4 lg:mr-0"
        >
            .:: {{ config.extra.purity_tagline }} ::.</span
        >
    {% endif %}
</nav>
